name: 'coverage'
on:
    push:
        branches:
            - master
            - main
jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
          - name: install packages
            run: pip install -r requirements.txt
          - name: generate coverage
            run: coverage xml
          - name: get badge
            uses: orgoro/coverage@v3.2
            with:
                coverageFile: coverage.xml
                token: ${{ secrets.GITHUB_TOKEN }}