name: 'coverage'
on:
    push:
        branches:
            - master
            - main
jobs:

    coverage:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6

          - uses: actions/setup-python@v6
            with:
                python-version: '3.14.2' 
          - name: Install Tkinter dependencies
            run: sudo apt-get update && sudo apt-get install -y python3-tk
          - name: install packages
            run: pip install -r requirements.txt
          - name: generate coverage
            run: |
              coverage run -m unittest discover
              coverage xml
          
          - name: Coverage Badge
            uses: tj-actions/coverage-badge-py@v2
          - name: Commit and push badge if changed
            # This step only runs if the previous steps succeeded
            if: success()
            run: |
                git config --global user.name "github-actions[bot]"
                git config --global user.email "github-actions[bot]@users.noreply.github.com"
                git add coverage.svg
                git commit -m "Update coverage badge" || echo "No changes to commit"
                git push