name: 'coverage'
on:
    push:
        branches:
            - master
            - main
jobs:

    coverage:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6
          - name: install packages
            run: pip install -r requirements.txt
          - name: generate coverage
            run: |
              coverage run -m unittest discover
              coverage xml
          - name: get badge
            uses: orgoro/coverage@v3.2
            with:
                coverageFile: coverage.xml
                token: ${{ secrets.GITHUB_TOKEN }}