name: 'tests'
on:
    push:
        branches:
            - master
            - main
jobs:

    coverage:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6

          - uses: actions/setup-python@v6
            with:
                python-version: '3.14.2' 
          - name: Install Tkinter dependencies
            run: sudo apt-get update && sudo apt-get install -y python3-tk
          - name: install packages
            run: pip install -r requirements.txt
          - name: generate coverage
            run: |
              coverage run -m unittest discover
              echo "TOTAL=$(coverage report --format=total)" >> $GITHUB_ENV
          - name: "Make badge"
            uses: schneegans/dynamic-badges-action@v1.4.0
            with:
              message: ${{ env.TOTAL }}%
              # GIST_TOKEN is a GitHub personal access token with scope "gist".
              auth: ${{ secrets.GIST_TOKEN }}
              gistID: 874794f84d771375fcb289bc712df244   # replace with your real Gist id.
              filename: covbadge.json
              label: Coverage
              minColorRange: 50
              maxColorRange: 90
              valColorRange: ${{ env.TOTAL }}